*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info
config.yaml
Pipfile
Pipfile.lock

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# terraform
**/.terraform/*
**.terraform.lock.hcl*
**.terraform.lock.hcl

.idea/
.coverage
